{% extends "core/base.html" %}

{% block content %}
    <body>
    <div class="content">
    <div class="center">
        <div class="row">
            <div class="col-2-l">
                <h2>{{ blog.title }}</h2>
            </div>
            <div class="col-1-l">
                <h4><a href="{% url "users:updateblog" blog_id=blog.id %}">Edit</a></h4>
            </div>
            <div class="col-2-l">
                <h4>{{ blog.date_create }}</h4>
            </div>

        </div>
        <div class="row">
             <div class="col-1-l">
                <h3><a href="{% url "users:userpage" id=u.id %}">{{ u.username }} </a></h3>
            </div>

        </div>
        {% if user.id == blog.user_id %}
            <div class="row">
                <div class="col-1-l">
                <a href="{% url "blogs:newpost" id=blog.id %}">New post</a>
                </div>
            </div>
        {% endif %}
        {%  for post in posts %}
            <div class="row">
                <div class="col-1-l">
                    <h3> <a href="{% url "posts:post" id=post.id %}">{{ post.title }}</a> </h3>
                </div>
                {% if request.user.id == user.id %}
                    <button class="edit">
                        Edit
{#                        <h4> <a href="{% url "blogs:updatepost" id=post.id %}">Edit</a> </h4>#}
                    </button>
                    <div class="dialog">hello</div>

                {% endif %}
                <div class="col-2-l">
                    <h4>{{ post.date_create }}</h4>
                </div>
            </div>
            <div class="row">
                {{ post.text | linebreaks }}
            </div>
        {%  endfor %}
    </div>
    </div>

    </body>
{% endblock %}
{% load static %}
<script type="text/javascript" src="{% static "core/base.js" %}" ></script>
