{% extends "core/base.html" %}
{% load widget_tweaks %}

{% block content %}
    <body>
    <div class="content">
    <div class="center">
            <form action="{%  url 'users:login' %}" method="post" class="regform">
                {% csrf_token %}
                <div class="col-2-l">
                    {{ form.as_p }}
                </div>
                {% if form.errors %} {{ form.errors }} {% endif %}
                <div class="col-1-l">
                    <input type="submit" class="buttonLogin" value="Login"/>
                </div>
                <input type="hidden" value="{{ next }}"/>
            </form>
    </div>
    </div>
    </body>
{% endblock %}