{% extends "core/base.html" %}
{% load widget_tweaks %}

{% block content %}
    <body>
        <div class="content">
            <div class="center">
                <div class="row">
                    <div class="col-1-l"> <h3>{{ post.title }}</h3></div>
                    <h4><div class="col-1-l">{{ likes }} likes </div></h4>
                </div>
                <div class="row">
                    {{ post.text| linebreaks }}
                </div>

                <div class="row">
                    <h3> {{ num }} comments</h3>
                </div>


                {% if user.is_authenticated %}
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        Text:
                        {{ form.text| add_class:"comment"}}
                        <input class="buttonComment" type="submit" value="Leave a comment">
                    </form>
                {% endif %}


                {% for comment in comments %}
                    <div class="row">
                        <div class="col-2-l"> <h4>{{ comment.date_create }}</h4> </div>
                    </div>
                    <div class="col-1-l">
                        {{ comment.text }}
                    </div>
                {% endfor %}

            </div>
        </div>
    </body>
{% endblock %}
